<!DOCTYPE html>
<html>
<head>
	<title>Our ML Algorithm</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<style type="text/css">

    /* tabs */
    .title{
        font-family: sans-serif;
        color: #dc2d5e;
        text-align: center;
    }
    .tabContainer{
        width: 100%;
        height: 100%;
    }
    .tabContainer .buttonContainer{
        height: 12%;
    }
    .tabContainer .buttonContainer button{
        width: 50%;
        height: 100%;
        float: left;
        border: none;
        outline:none;
        cursor: pointer;
        padding: 10px;
        font-family: sans-serif;
        font-size: 18px;
        background-color: #eee;
    }
    .tabContainer .buttonContainer button:hover{
        background-color: #d7d4d4;
    }
    .tabContainer .tabPanel{
        height: 100%;
        background-color: gray;
        color: white;
        text-align: center;
        padding-top: 20px;
        box-sizing: border-box;
        font-family: sans-serif;
        font-size: 22px;
        display: none;
    }

    .left-box {
        height: 100%;
        width: 30%;
        float: left;
        margin-left: 5px;
    }
    .right-box {
        height: 100%;
        width: 60%;
        float: right;
    }
	</style>

</head>
<body>
	<!-- Navbar starts -->
	<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0288d1;">
  		<a class="navbar-brand" href="#">
  			<img src="{{ url_for('static',filename='images/farmer_logo.jpg') }}" width="30" height="30" class="d-inline-block align-top" alt="">
  			Naya Mandi
  		</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
  		<div class="collapse navbar-collapse" id="navbarNav">
    		<ul class="navbar-nav">
      			<li class="nav-item active">
        			<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      			</li>
    		</ul>
  		</div>
	</nav>
	<!-- Navbar ends -->
  
  
	<!-- Main body -->
    <div id="tabs-body">
      <div class="tabContainer">
        <div class="buttonContainer">
          <button onclick="showPanel(0,'#0288d1')">Working of our Machine Learning algorithm</button>
          <button onclick="showPanel(1,'#0288d1')">Predicted Prices</button>  
        </div>
        <!-- Tab1 -->
        <div class="tabPanel">
          <div>
            <iframe src="/future_prediction" height="700" width="100%"></iframe>
          </div>
        </div>
        <!-- Tab2 -->
        <div class="tabPanel">
          <div class="left-box">
            <table border cellspacing="0" cellpadding="3" style="border: 4px solid black; background-color: white; color: black;" >
              <thead>
                <tr>
                  <th>Date</th>
                  <th>lower Modal_Price</th>
                  <th>upper Modal_Price</th>
                </tr>
              </thead>
              <tr>
                <td>42887</td>
                <td>927.724876089612</td>
                <td>3531.83246423999</td>
              </tr>
              <tr>
                <td>42917</td>
                <td>413.96861716813</td>
                <td>3900.59524008662</td>
              </tr>
              <tr>
                <td>42948</td>
                <td>222.637286285101</td>
                <td>4277.38017733668</td>
              </tr>
              <tr>
                <td>42979</td>
                <td>56.5839094732109</td>
                <td>4514.85251699247</td>
              </tr>
              <tr>
                <td>43009</td>
                <td>-71.5228930655112</td>
                <td>4687.36999352003</td>
              </tr>
              <tr>
                <td>43040</td>
                <td>-190.713167368921</td>
                <td>4798.81737216222</td>
              </tr>
              <tr>
                <td>43070</td>
                <td>-274.923139551497</td>
                <td>4895.23896851709</td>
              </tr>
              <tr>
                <td>43101</td>
                <td>-947.113737561433</td>
                <td>4366.80615460391</td>
              </tr>
              <tr>
                <td>43132</td>
                <td>-1055.85299869616</td>
                <td>4374.12520414703</td>
              </tr>
              <tr>
                <td>43160</td>
                <td>-1126.24807636145</td>
                <td>4398.9393687191</td>
              </tr>
              <tr>
                <td>43191</td>
                <td>-1114.30083356633</td>
                <td>4491.91058346398</td>
              </tr>
              <tr>
                <td>43221</td>
                <td>-1158.79312207196</td>
              <td>4534.03940639216</td>
              </tr>
              <tr>
                <td>43252</td>
                <td>-658.20251873393</td>
                <td>5102.38421592893</td>
              </tr>
              <tr>
                <td>43282</td>
                <td>-749.646963797848</td>
                <td>5069.55933878819</td>
              </tr>
              <tr>
                <td>43313</td>
                <td>-694.988361031471</td>
                <td>5174.81038269312</td>
              </tr>
              <tr>
                <td>43344</td>
                <td>-685.912458831584</td>
                <td>5227.49657591194</td>
              </tr>
              <tr>
                <td>43374</td>
                <td>-685.460425263687</td>
                <td>5265.52615804246</td>
              </tr>
              <tr>
                <td>43405</td>
                <td>-704.869706933937</td>
                <td>5278.51411342042</td>
              </tr>
              <tr>
                <td>43435</td>
                <td>-713.509473937215</td>
                <td>5297.86194622537</td>
              </tr>
              <tr>
                <td>43466</td>
                <td>-1241.95276161739</td>
                <td>4793.72136961025</td>
              </tr>
              <tr>
                <td>Average price</td>
                <td>-522.6547975</td>
                <td>4699.089078</td>
              </tr>
            </table>
          </div>
          <div class="right-box">
            <img src="{{ url_for('static',filename='images/predict_graph.jpg') }}">
          </div>
        </div>
      </div>
    </div>  

	<script>
		var tabButtons=document.querySelectorAll(".tabContainer .buttonContainer button");
		var tabPanels=document.querySelectorAll(".tabContainer  .tabPanel");

		function showPanel(panelIndex,colorCode) {
    		tabButtons.forEach(function(node){
    	    	node.style.backgroundColor="";
    	    	node.style.color="";
    		});
    		tabButtons[panelIndex].style.backgroundColor=colorCode;
    		tabButtons[panelIndex].style.color="white";
    		tabPanels.forEach(function(node){
    		    node.style.display="none";
    		});
    		tabPanels[panelIndex].style.display="block";
    		tabPanels[panelIndex].style.backgroundColor=colorCode;
		}
	</script>

</body>
</html>