html, body{
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', 'Helvetica', sans-serif;
}

/* Vertical navigation bar and image slideshow */
.vertical-nav{
	height: 500px;
	width: 20%;
	position: absolute;
}
.img-slide{
	height: 500px;
	left: 20%;
	max-width: 80%;
	position: relative;
}

/* Video window */
.video-container{
    float: left;
    height: 420px;
    width: 20%;
}
.overview{
    float: left;
    height: 410px;
    left: 20%;
    width: 60%;
    max-width: 60%;
}
.coverage{
    float: left;
    height: 410px;
    left: 60%;
    width: 20%;
    max-width: 20%;
    background-color: blue;
}

/* footer starts */
.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}

/* footer starts */